*{
  box-sizing: border-box;
}

h1::first-letter{
  text-transform: uppercase;	
  color:orange;
  font-size: 40px;
}

h1:hover{
 color:yellow;
}

header{
font-size:30px;
font-weight: 20px;
}

p::first-letter{
 text-transform: lowercase;
 color:orange;
}

.foo{  
  width:502px;
  padding:10px;
  border: 1px solid green;
  margin-bottom: 20px;
 }
.foo:hover{
  background-color: blue;
}

.bar{
  display: inline-block;
  font-size: 20px;
  width: 250px;
  padding:10px;
  margin-bottom: 20px;
  border: 1px solid green;
}

.bar:hover{
  background-color: green;
}

.red,.ora,.yel,.gre,.blu,.whi,.pu{
  background-color: gray;
  min-width: 200px;
  min-height: 40px;
}

.red:hover{
	background-color: red;
	margin-left: 60px;
	margin-right: 70px;
}

.ora:hover{
	background-color: orange;
	margin-left: 60px;
	margin-right: 70px;
}
.yel:hover{
	background-color: yellow;
	margin-left: 60px;
	margin-right: 70px;
}
.gre:hover{
	background-color: green;
	margin-left: 60px;
	margin-right: 70px;
}
.blu:hover{
	background-color: blue;
	margin-left: 60px;
	margin-right: 70px;
}
.whi:hover{
	background-color: azure;
	margin-left: 60px;
	margin-right: 70px;
}
.pu:hover{
	background-color: purple;
	margin-left: 60px;
	margin-right: 70px;
}