h1{
  text-align: center;
}


.center{
  border:1px black solid;
}

.vertical{
  border-right:1px black solid;
  border-left: 1px black solid;
}

.horizontal{
  border-top:1px black solid;
  border-bottom:1px black solid;
}

td{
  width: 100px;
  height: 100px;

}
tr{
  margin: 0;
  padding: 0;
}

table{
  margin: 0 auto;
}