main{
  padding-left: 200px;
  background-color: #87CEFA;
  padding-bottom: 300px
}

header{
  padding-left: 150px;
  background-color: #AFEEEE;
}

nav{
  padding-left: 80px;
  background-color: #B0E0E6;

}